{% extends "base_gate_page.html" %}

{% block title %}cleanbook - approach the door {% end %}
{% block image_source %}"/static/door.jpg"{% end %}
{% block modal %}
      <div id="modal-from-dom" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>Knock Knock</h3>
        </div>
        <div class="modal-body">
          <html><body><form class="form-stacked" action="/approach-the-door" method="post" id="logindoor">
                <label for="callsign">Username</label>
                <input type="text" name="callsign">
                <label for="password">Password</label>
                <input type="password" name="password">
          </form></body></html>                
        </div>

        <div class="modal-footer">
          <a href="#" class="btn primary" id="submit-login">Enter</a>
        </div>
{% end %}

{% block button_id %}'#submit-login'{% end %}
{% block form_id %}'#logindoor'{% end %}
{% block image_attr %} Franz Haas {% end %}
