{% extends "base_page.html" %}

{% block title %}cleanbook - the musings of {{node}} {% end %}
{% block body %}
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>{{ node }} <small>Supporting text or tagline</small></h1>
        </div>
        <div class="row">
          <div class="span10">
            <h2>musings</h2>
            <br>
            <form action="/musings/{{node}}" class="form-vertical" method="post">
              <input class="input-xlarge" name="title" type="text" placeholder="title"> <br>
<br>
              <textarea class="input-xlarge" rows="5" name="body" type="body" placeholder="body"></textarea>
<br>
<br>
              <button class="btn" type="submit">never stop musing</button>
            </form>
            {% if musings %}
            {% for musing in musings %}
            <div>
              <h4>{{ escape(musing['title']) }}</h4>
              {% if 'body' in musing %}
                <pre><p>{{ escape(musing['body']) }}</p></pre>
              {% end %}
            </div>
            {% end %}
            {% end %}
          </div>
          <div class="span4">
            <h3>friends</h3>

          </div>
        </div>
      </div>
      

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->
{% end %}
