{% extends "base_gate_page.html" %}

{% block title %}cleanbook - learn the knock {% end %}
{% block image_source %}"/static/starman.jpg"{% end %}
{% block modal %}
      <div id="modal-from-dom" class="modal hide fade">
        <div class="modal-header">
          <a href="#" class="close">&times;</a>
          <h3>Knock Knock</h3>
        </div>
        <div class="modal-body">
          <html><body><form class="form-stacked" action="/learn-the-knock" method="post" id="create-login">
                <label for="callsign">callsign</label>
                <input type="text" name="callsign">
                <label for="password">password</label>
                <input type="password" name="password">
                <label for="email">email</label>
                <input type="text" name="email">
          </form></body></html>                
        </div>
        <div class="modal-footer">
          <a href="#" class="btn primary" id="submit-create">enter</a>
        </div>
{% end %}
{% block button_id %}'#submit-create'{% end %}
{% block form_id %}'#create-login'{% end %}
{% block image_attr %} Chris Halderman {% end %}
