{% extends "base_page.html" %}

{% block title %}cleanbook - {{node}} {% end %}
{% block body %}
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>{{ node }} <small>Supporting text or tagline</small></h1>
        </div>
        <div class="row">
          <div class="span10">
            <h2>echo chamber</h2>
          </div>
          <div class="span4">
            <h3>friends</h3>
            <ul class="media-grid">
              {% for friend in friends %}
              <li>
                <a href="/{{friend}}">
                  <img class="thumbnail" src="http://placekitten.com/g/90/90" alt="">
                  {{ friend }}
                </a>
              </li>
              {% end %}
            </ul>
            <h3>creepers</h3>
            <ul class="media-grid">            
              
              {% for creeper in friend_requesters %}
              <li>
                <a href="/{{creeper}}">
                  <img class="thumbnail" src="http://placekitten.com/g/90/90" alt="">
                  {{ creeper }}
                </a>
              </li>
              {% end %}
            </ul>
          </div>
        </div>
      </div>
      

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

{% end %}
